---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbit
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rabbit
  template:
    metadata:
      labels:
        app: rabbit
    spec:
      containers:
        - name: rabbit
          image: rabbitmq:3.13-management
          ports:
            - name: rabbit-amqp
              containerPort: 5672
            - name: rabbit-web
              containerPort: 15672
          env:
            - name: RABBITMQ_DEFAULT_USER
              value: "postech"
            - name: RABBITMQ_DEFAULT_PASS
              value: "Postech123456"
      #     volumeMounts:
      #       - name: rabbitmq-data
      #         mountPath: /var/lib/rabbitmq
      # volumes:
      #   - name: rabbitmq-data
      #     persistentVolumeClaim:
      #       claimName: rabbitmq-pvc
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: role
                    operator: In
                    values:
                      - general
